<div class="joueur">
  <h1 class="titre">A jamais dans l'histoire</h1><br>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
      <img [src]="image[0] " width={{width}} height={{height}} alt="">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <img [src]="image[1] " width={{width}} height={{height}} alt="">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <img [src]="image[2] " width={{width}} height={{height}} alt="">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <img [src]="image[3] " width={{width}} height={{height}} alt="">
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
      <img [src]="image2[0] " width={{width}} height={{height}} alt="">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <img [src]="image2[1] " width={{width}} height={{height}} alt="">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <img [src]="image2[2] " width={{width}} height={{height}} alt="">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <img [src]="image2[3] " width={{width}} height={{height}} alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
      <img [src]="image3[0] " width={{width}} height={{height}} alt="">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <img [src]="image3[1] " width={{width}} height={{height}} alt="">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <img [src]="image3[2] " width={{width}} height={{height}} alt="">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <img [src]="image3[3] " width={{width}} height={{height}} alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
      <img [src]="image4[0] " width={{width}} height={{height}} alt="">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <img [src]="image4[1] " width={{width}} height={{height}} alt="">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <img [src]="image4[2] " width={{width}} height={{height}} alt="">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <img [src]="image4[3] " width={{width}} height={{height}} alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
      <img [src]="image5[0] " width={{width}} height={{height}} alt="">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <img [src]="image5[1] " width={{width}} height={{height}} alt="">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <img [src]="image5[2] " width={{width}} height={{height}} alt="">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <img [src]="image5[3] " width={{width}} height={{height}} alt="">
    </div>
  </div>
  <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <img [src]="image6[0] " width={{width}} height={{height}} alt="">
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <img [src]="image6[1] " width={{width}} height={{height}} alt="">
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <img [src]="image6[2] " width={{width}} height={{height}} alt="">
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <img [src]="image6[3] " width={{width}} height={{height}} alt="">
      </div>
    </div>
    <app-message></app-message>
    <app-contact (create)="onMessageCreated($event)" ></app-contact>
</div>
